<!doctype html>
<html>
  <head>
    <!-- {     
    ### <beg-file_info>
    ### main:
    ###   - date: created="Wed Sep 23 12:07:28 2015"
    ###     last: lastmod="Wed Sep 23 12:07:28 2015"
    ###     tags: tags 
    ###     dreftymacid: "sound_fistful_forty"
    ###     seealso: |
    ###         *
    ###     desc: |
    ###         * bare minimum to see if ng is working
    ###         * test underscorejs    
    ### <end-file_info>
    } --> 
    <title>demo.underscore01</title>
    
    <!-- { init00 } -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" ></script>
    <script src="https://s69682.gridserver.com/_weblib/js/angularjs/angular.ng-modules.js" ></script>
    <script src="https://s69682.gridserver.com/_weblib/js/angularjs/underscore.min.js" ></script>
    
    <!-- { init01 } -->
    <script src="https://fpm.uoregon.edu/view01policy01/jsonp01" ></script>
    <script src="https://fpm.uoregon.edu/view01policy01/jsonp02" ></script>

    <!-- { init02 } -->
    <script>
      var moduleA = angular.module("MyModuleA", [])
            .filter('to_trusted', ['$sce', function($sce){
              return function(text) {
                return $sce.trustAsHtml(text);
              };
            }])
            .filter('capitalize', function() {
              return function(input, scope) {
                if (input!=null) {
                    var stringArr = input.split(" ");
                    var result = "";
                    var cap = stringArr.length;
                    for(var x = 0; x < cap; x++) {
                      stringArr[x].toLowerCase();
                      if(x === cap - 1) {
                        result += stringArr[x].substring(0,1).toUpperCase() + stringArr[x].substring(1);
                      } else {
                        result += stringArr[x].substring(0,1).toUpperCase() + stringArr[x].substring(1) + " ";
                      }
                    }
                  return result;
                }
              }
            })
            ;
      moduleA.controller("MyControllerA", function($scope) {
          // ------------------------------------------------------------------------
          $scope.grpfield01             =   'fasmhead';
          $scope.datatable01            =   _.clone( jsonp01["Items"] );
          $scope.datatable02            =   _.clone( jsonp02["Items"] );
          //
          $scope.datatable02            =   _.map( $scope.datatable02 , function(item){
                  vout = { "noop":0
                    ,"weight":item["fasmhead"].charCodeAt(0)
                    ,"fasmhead":item["fasmhead"]
                    ,"title":item["title"]
                    ,"nid":item["nid"]
                    };
                  if(vout["fasmhead"]=='INTRODUCTION'){vout["weight"]='-5';}
                  return vout;
                  });
          $scope.datatable02            =   _.sortBy($scope.datatable02, "weight");
          $scope.datatable02            =   _.groupBy($scope.datatable02, $scope.grpfield01);
          //$scope.datatable01            =   _.map($scope.datatable01 ,
          //                                        function(row){
          //                                          row[$scope.grpfield01] = row[$scope.grpfield01].toUpperCase();
          //                                          return row;
          //                                        });
          //$scope.datatable01            =   _.sortBy($scope.datatable01,  $scope.grpfield01);
          //$scope.datatable01            =   _.groupBy($scope.datatable01, $scope.grpfield01);
          //$scope.datatable02            =   _.keys(_.clone($scope.datatable01));
          //$scope.datatable02.unshift('^');
          //console.log( $scope.datatable01 );
          console.log( $scope.datatable02 );
          //console.log( $scope.datatable02 );
      });
    </script>

    <style> 
    .breadcrumb {display:none;}
    </style>        
  </head>
  <body>
    


    
    <!-- { init05 } -->     
    <div ng-module="MyModuleA" class="main-container container">
      <div ng-controller="MyControllerA" class="row" style="margin-left:1em;padding-top:0.50em;padding-bottom:1em;">
         <div class="col-md-12">

          <ul ng-repeat="tmpgrp in datatable02">
            Group name: {{ item[0].fasmhead }}
            <li ng-repeat="row in tmpgrp">
              item: {{ tmpgrp.title }} 
            </li>
          </ul>   

         </div>
      </div>
    </div>

   
   
    
  </body>
</html>



