/** ------------------------------------------------------------------------ 
 * begin_ row zebra striping
 */
.ag-row-odd {
   background-color: #f6f6f6;
}

.ag-row-even {
   background-color: white;
}

.ag-fresh i {
    padding-right:7px;
    padding-bottom:4px;
}

.ag-fresh .ag-cell {
    padding: 4px 10px 4px 4px;
}

.ag-fresh .ag-header-container {
    font-weight: bold;
}

.ag-fresh .ag-header-cell {
    border-bottom: 1px solid black;
}

.ag-fresh .cell-col {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.ag-fresh .cell-col-2 {
    off-background-color: gainsboro;
}
.ag-fresh .cell-col-4 {
    off-background-color: gainsboro;
}
.ag-fresh .cell-col-6 {
    off-background-color: gainsboro;
}
.ag-fresh .cell-col-8 {
    off-background-color: gainsboro;
}

.ag-fresh .ag-group-cell {
    font-weight: bold;
}

.ag-fresh .ag-row-group-cell-text {
    padding-left: 0px;
    padding-right: 0px;
}

.ag-fresh .ag-footer-cell {
    border-top: 0px solid grey;
    border-bottom: 0px double grey;
}

label {
    font-weight: normal !important;
}
